:root{
  --base: rgb(255, 252, 209);
  --basetext:  #0d0c18;
  --basetwo:rgb(216, 213, 167);

}

.loewe{
  background-image: url(/loewe.png);
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}

.balback{
  background-image: url(/balback.png);
  background-size: cover;
  background-position: center;
  /* min-height: 75vh; */
}

.corner{
  border-radius: 5px;
}
.txtcenter{
  text-align-last:center;
}
.center{
justify-content: center;
}
.loewecont{
  margin: 5rem;
}
.jacquemuscont{
  align-self: center;
}
.bl{
  list-style-type: none;
}
.foot{
  background-color:#e5e6e6;
  font: hsl(0, 0%, 20%)
}
.rel{
  position: relative;
}
@media screen and (min-width:760px){
  .spill{
    position: absolute;
    bottom: -5rem;
    right: 5rem;
    font-size: 20px;
  }
}

.spillalways{
  background-color: var(--basetext);
  color: var(--base);
}

.base{
  background-color:var(--base);
}

.basetext{
  color: var(--basetext);
}

.basetexttwo{
  color: var(--base);
}

.basetwo{
  background-color: var(--basetwo);
  color: var(--basetext);
}