.loewe{
  background-image: url(/map.png);
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}
.corner{
  border-radius: 5px;
}
.txtcenter{
  text-align-last:center;
}
.center{
justify-content: center;
}
.loewecont{
  margin: 5rem;
}
.jacquemuscont{
  align-self: center;
}
.bl{
  list-style-type: none;
}
.foot{
  background-color:#e5e6e6;
  font: hsl(0, 0%, 20%)
}
.rel{
  position: relative;
}
@media screen and (min-width:760px){
  .spill{
    position: absolute;
    bottom: -5rem;
    right: 5rem;
    font-size: 20px;
  }
}